<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      <div>
          <p> Name: <%= wolf.name %></p>
          <p> Color: <%= wolf.color %></p>
          <p>Age:  <%= wolf.age %> </p>
          <p><a href="/mongooses/<%=wolf._id%>/edit">Edit</a></p>
          <p><form action="/mongooses/<%=wolf._id%>/destroy" method="post">
              <input type="submit" value="Delete" />
            </form>
          </p>
      </div>
    </body>
</html>
