<html>
    <head>
       <title>Simple Form</title>
    </head>
    <body>
      <form action="/mongooses/<%= wolf._id %>" method="post">
        Edit Wolf <%= wolf._id %>'s Info: <%= wolf.name %><br />
        Name: <input type="text" name="name" value=" <%= wolf.name %> " /> <br />
        Color: <input type="text" name="color" value=" <%= wolf.color %> " /> <br />
        Age: <input type="number" name="age" value=" <%= wolf.age %> "/> <br />
        <input type="submit" value="Submit" />
      </form>

    </body>
</html>
