<html>
    <head>
       <title>Dojo Message Board</title>
    </head>
    <body>
      <h1> The Dojo Message Board</h1>
      <hr>
      <%if(sess.errors){%>
          <% for(var i in sess.errors){ %>
            <h3><%= sess.errors[i] %></h3>
          <% } %>
      <% }%>

      <form action="/post" method="post">
        Name: <input type="text" name="name" /> <br />
        Message: <textarea name="text"></textarea> <br />
        <input type="submit" value="Send" />
      </form>

      <div>
        <% for(var i in posts){ %>
          <h3> Name: <%= posts[i].name %> </h3>
          <h4> <%= posts[i].text %> </h4>
          <% for (var x=0; x< posts[i].comments.length; x++){ %>
            <p>----- <b>Name:</b> <%= posts[i].comments[x].name %></p>
            <p>----- <b>Comment:</b> <%= posts[i].comments[x].text %></p>
            <hr>
          <% } %>
            <form action="/comment/<%= posts[i]._id %>" method="post">
              Name: <input type="text" name="name" /> <br />
              Comment: <textarea name="text"></textarea> <br />
              <input type="submit" value="Comment" />
            </form>
        <% } %>
      </div>
    </body>
</html>
